<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/output.css">
  <script src="/scripts/main.js" type="module" defer></script>
</head>

<body class="bg-neutral-900 w-screen min-h-screen">
  {{{body}}}
</body>

</html>